<div id='container'>
<!-- Your code here -->
  <form name="shortlyForm" ng-submit="addLink()" novalidate>
       <input ng-class="{'error': shortlyForm.$invalid && shortlyForm.$dirty}"ng-model="formLink.url" type='url'>
       <input type='submit' value='Shorten'>
   </form>
  <div ng-model="newLink" ng-show="newLink.url">
    <div class='info'>
      <img src='../../assets/redirect_icon.png'/>
      <div class='visits'><span class='count'>{{ newLink.visits }}</span>Visits</div>
      <div class='title'>{{ newLink.title }}</div>
      <div class='original'>{{ newLink.url }}</div>
      <a ng-href='{{newLink.base_url}}/{{newLink.code}}'>{{ newLink.base_url }}/{{ newLink.code }}</a>
    </div>
  </div>
    <div ng-show="shortlyForm.$invalid">Please enter a valid url.</div>
</div>



