<div id='container'>
<!-- Your code here -->
  <form ng-submit="addLink()">
       <input ng-model="formLink.url" class='text' type='text' name='url'>
       <input type='submit' value='Shorten'>
   </form>
   <img class='spinner' src='../../assets/spiffygif_46x46.gif'>
  <div ng-model="newLink" class="newLink">
    <img src='../../assets/redirect_icon.png'/>
    <div class='info'>
      <div class='visits'><span class='count'>{{ newLink.visits }}</span>Visits</div>
      <div class='title'>{{ newLink.title }}</div>
      <div class='original'>{{ newLink.url }}</div>
      <a ng-href='{{newLink.base_url}}/{{newLink.code}}'>{{ newLink.base_url }}/{{ newLink.code }}</a>
    </div>
  </div>
</div>



